@model mvc_lab.Models.Calculadora

@{
    ViewData["Title"] = "Calculadora Page";
}

<div class="text-center">
    <h1 class="display-4">Calculadora</h1>
    <form asp-controller="Calculadora" asp-action="Calcular">
        <label>Operador 1</label>
        <input asp-for="Operador1"/>
        <br>
        <label>Operador 2</label>
        <input asp-for="Operador2"/>
        <br>
        <label>Accion</label>
        <select asp-for="Accion">
            <option value="+">Suma</option>
            <option value="-">Resta</option>
            <option value="*">Multiplicación</option>
            <option value="/">División</option>
        </select>
        <br>
        <input type="submit" value="Calcular"/>
    </form>

    <td>@Html.DisplayNameFor(Model=> Model.Respuesta)</td>
    <td>@Html.DisplayTextFor(Model=> Model.Respuesta)</td>
</div>
